extends _layout
block content
  .container
    .row.justify-content-md-center.mb-3
      .col.col-lg-6
        h2.cover-heading=model.title
        img.colortitle.mt-3.mb-3.borderimg.w-75(
          src=model.product.image, 
          alt=model.product.name
        )
        h5.colorprice.mb-3 #{model.product.price}₽
        button.btn.btn-lg.btn-secondary.mb-5.snipcart-add-item(
          data-item-id=model.product.id
          data-item-name=model.product.name
          data-item-url=urlWithoutQuery
          data-item-price=model.product.price
          data-item-description=model.product.description
          data-item-image=model.product.image
        ) добавить в корзину
        a.mb-5.btn.btn-dark.border.border-secondary(href=`/shop`)
          i.fa.fa-heart
    .row.justify-content-md-center.mb-5.pb-5
      .col.col-lg-12

        p.justify1=model.product.description

